.season {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season .icon {
  position: absolute;
}

.left-icon {
  top: 0.5em;
  left: 0.5em;
}

.right-icon {
  bottom: 0.5em;
  right: 0.5em;
}

/* Theme */

.season.winter {
  background-color: aliceblue;
}

.season.summer {
  background-color: orange;
}

.winter .icon {
  color: rgb(91, 163, 163);
}

.summer .icon {
  color: red;
}
